<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>TVD</title>
  
  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  
  <header>
    <h3>TTVD</h3>
  </header>
  
  <div class="container">
    <div class="main">
      
      <form action="/download" method="post">
        <div class="sub">
          <h2>Download video TikTok</h2>
          <h5>Tanpa Watermark</h5>
        </div>
        
        <div class="input">
          <input type="text" name="url" id="url" placeholder="Tempel tautan TikTok di sini">
          <button type="submit">Download</button>
        </div>
      </form>
      
    </div>
    <br>
    <div class="inf">
      <div class="info">
        <h4>Download video TikTok Tanpa Watermark</h4>
        <p>TTVD adalah TikTok Downloader yang tersedia online untuk TikTok tanpa tanda air. Anda tidak perlu menginstal perangkat lunak apa pun di komputer atau ponsel Anda, yang Anda butuhkan hanyalah tautan video TikTok, dan semua pemrosesan dilakukan di pihak kami, sehingga Anda dapat unduh video Tik tok dengan sangat cepat ke perangkat Anda dengan satu klik.</p>
      </div>
      <br>
      <div class="info">
        <h4>Catatan:</h4>
        <p>TTVD bukan alat Tiktok, kami tidak memiliki hubungan dengan Tiktok atau ByteDance Ltd. Kami hanya mendukung pengguna Tiktok untuk mengunduh video  tanpa watermark Tiktok. kami terus memperbarui untuk memudahkan pengguna download video tiktok. Terima kasih!</p>
      </div>
    </div>
  </div>
  <br />
  <footer id="footer">
    <h5>© 2023 TTVD - TikTok Video Downloader Version 1.0</h5>
  </footer>
</body>
</html>
